.QuestionsPage {
    width: 100vw;
    height: 100vh;
}

.HeaderContainer {
    padding: 2vh 2vw 0 2vw;
    display: flex;
    justify-content: space-between;
}

.GoalHeader {
    font-size: 1em;
    max-width: 60%;
    text-align: center;
    padding-right: 3em;
}

.Navigation {
    padding: 2vh 2vw 0 2vw;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    color:  rgb(47,128,237);
}

.QuestionLogOut:hover, .BackToGoals:hover {
    border-bottom: 0.1em solid rgb(47,128,237);
}

.MainPartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
}

.QuestionsContainer {
    min-width: 30%;
    min-height: 20vh;

    position: relative;
    padding: 2vh 2vw;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.QuestionsContainer:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.QuestionsList{
    list-style: none;
    padding: 0;
}

.QuestionButtonContainer {
    margin: 2vh 0.5vw 2vh 0;
}

.LinkToMetrics {
    cursor: pointer;
    text-decoration: none;
    color: black;

    padding: 0.7vh 1vw;
    margin-right: 2vw;
    border-radius: 0.3em;
    border-left: 0.5em solid rgb(47,128,237);
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
                -2px -2px 5px 0 rgba(0,0,0,.1),
                2px 2px 5px 0 rgba(0,0,0,.1),
                -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 0.03em;
    transition: 0.3s all linear;
}

.LinkToMetrics:hover {
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
    color: rgb(7, 99, 176);
}

.Button {
    border: none;
    background: rgb(47,128,237);
    color: white;
    cursor: pointer;
}

.DeleteButton, .SaveButton {
    padding: 0.7vh 1vw;
    margin-bottom: 1vh;
    font-size: 0.85em;
    border-radius: 0.5em;
}

.AddButton {
    position: absolute;
    bottom: 1vh;
    right: 1vw;

    padding: 0.25em 0.5em;
    margin: 2vh 1vw;
    font-size: 1.2em;
    border-radius: 1em;
}

.UndoButton {
    position: absolute;
    bottom: 1vh;
    right: 1vw;

    padding: 0.4em 0.55em;
    margin: 2vh 1vw;
    font-size: 1em;
    border-radius: 1em;
}

.Button:focus, .Button:hover {
    outline: 0;
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}

.TextNewQuestion {
    color: black;
    border: none;

    padding: 0.7vh 1vw;
    margin-right: 2vw;
    border-radius: 0.3em;
    border-left: 0.5em solid rgb(47,128,237);
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
                -2px -2px 5px 0 rgba(0,0,0,.1),
                2px 2px 5px 0 rgba(0,0,0,.1),
                -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 0.03em;
    transition: 0.3s all linear;
}

.TextNewQuestion:focus {
    outline: none;
}

.NewQuestionContainer {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}
